/* HTML */
html {
    height: 100%;
}

html,
body,
form,
body {
    font: 100%/1.3 'PT Sans', Arial, Verdana, Sans-Serif;
    line-height: 24px;
    color: #3a2c1c;
    background: url(../Images/Design/menu/topmenu_bg_back.png) repeat-x;
}

a {
    color: #018785;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a.added-anchor,
a.added-anchor:hover,
a.added-anchor:focus,
a.added-anchor:active,
a.added-anchor:visited {
    color: #3a2c1c;
    text-decoration: none;
    font-weight: normal;
    outline: none;
}

p 
{
    line-height: 24px;
    padding: 12px 0 0;
    margin: 0;
}

img {
    border: none;
}

h1 {
    color: #6f5e4d;
    font-size: 45px;
    line-height: 48px;
    font-weight: normal;
    padding-bottom: 15px;
}

h2, h3, h4, h5, h6 {
    color: #009492;
    font-weight: normal;
    line-height: 24px;
    padding: 30px 0 0;
}

h2 {
    font-size: 22px;
    color: #382819;
}

h3 {
    color: #382819;
    font-size: 1em;
    font-weight: bold;
}

h2.panelmenuheader {
    font-size: 1.6667em;
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: disc outside;
    padding-left: 1.5em;
}

    ul li {
        margin-bottom: 0;
    }

ol {
    padding-left: 1.2em;
}

    ol li {
        list-style: decimal outside;
        margin-bottom: 0;
    }

div.bodytext table caption {
    color: #009492;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.1em;
    padding-bottom: 0;
    text-align: left;
}

div.bodytext table {
    margin-bottom: 20px;
    empty-cells: show;
    width: 100%;
    margin-top: 24px;
}

    div.bodytext table tbody tr th {
        text-align: left;
        border-bottom: solid 2px #A2A2A2;
        margin: 0;
        padding: 0;
    }

    div.bodytext table tbody tr td {
        text-align: left;
        border-bottom: solid 1px #A2A2A2;
        margin: 0;
        padding: 12px 0;
    }

fieldset {
    border: none;
}


.calendar {
    margin-bottom: 10px;
    margin-left: 82px;
}

/* ID */
div#top-print {
    display: none;
}

div#mainwrapper {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    clear: both;
}

div#top {
    width: 960px;
    margin: 0 auto;
}

    div#top div#topleft {
        float: left;
        width: 100px;
        height: 71px;
    }

        div#top div#topleft img {
            display: block;
            margin-top: 12px;
        }

    div#top div#topmid-inner {
        float: left;
        margin: 47px 50px 0px 115px;
        color: #fafafa;
        font-size: 19px;
    }

    div#top div#topprofilearea {
        float: left;
        width: 60%;
    }

    div#top div#topprofilearea-inner {
        float: left;
        margin: 0px 10px 0px 10px;
        float: left;
    }

    div#top div#topright {
        float: right;
    }

/* standard */
div#leftcol.wide {
    margin: 0;
    overflow-y: auto;
}

div#leftmenu .panelmenuheader {
    padding: 10px;
}

div#leftmenu {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    padding-bottom: 84px;
}

    div#leftmenu a {
        font-weight: bold;
    }

    div#leftmenu ul {
        width: 220px;
    }

div#contentarea {
    margin-left: 320px;
    margin-right: 10px;
}

div#contentarea-inner {
    overflow: hidden;
    padding-bottom: 84px;
    padding-top: 7px;
}

div#rightcol {
    width: 640px;
    margin-left: 320px;
    position: relative;
    z-index: 10;
}

#contentwrapperwide div#rightcol {
    margin-left: 26px;
    display: none;
}

div#rightcol-inner {
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Leftmenu */
div#leftmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

    div#leftmenu ul li {
        list-style: none;
    }

        div#leftmenu ul li > div {
            border-bottom: 1px solid #d9d9d9;
            padding: 7px 15px 6px 0;
        }

    div#leftmenu ul.level1 ul {
        margin-left: 20px;
    }

    div#leftmenu ul li {
        margin-top: 4px;
    }

        div#leftmenu ul li .selected a {
            color: #a2958a;
        }

        div#leftmenu ul li span.expanded a {
            color: #009492;
        }

/* Toolbox */
div#toolBox {
    position: absolute;
    right: 17px;
    top: 0px;
}

div#top div#topright-inner li a {
    color: #fff;
    margin: 0 4px;
    text-decoration: none;
}

    div#top div#topright-inner li a:hover,
    div#top div#topright-inner li a:focus {
        text-decoration: underline;
    }

div#top div#topright-inner ul {
    list-style: none;
    margin: 14px -4px 0 0;
}

div#top div#topright-inner li {
    color: #fff;
    list-style: none;
    display: inline;
}

/* Breadcrumb */
div#breadcrumbs {
    margin: 0 0 18px 0;
    color: #ce5004;
}

    div#breadcrumbs a {
        text-decoration: underline;
    }

/* TopMenu */
div#topmenu-outer {
    height: 85px;
    background: #382819 url('../Images/Design/menu/topmenu_bg.png');
    background-position: top center;
    background-repeat: no-repeat;
}

div#topmenu {
    float: left;
    height: 50px;
    width: 640px;
    margin-top: 45px;
    overflow: hidden;
}

    div#topmenu > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

        div#topmenu > ul > li {
            list-style: none;
            display: inline-block;
            margin: 0;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 10px;
            padding: 0 10px;
        }

.selectedMegaDropDown {
    background-color: #F1EDEA;
    padding: 10px 9px 1px 8px;
}

/* Submenu */
.nojavascript div#topmenu > ul > li:hover > div {
    display: block;
}

div#topmenu > ul > li > div {
    display: none;
    position: absolute;
    background: #fefefe;
    top: 85px;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    border: 1px solid #e0dcda;
    border-top: none;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 9999;
    padding-bottom: 20px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjZmNGYzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #ffffff 85%, #f6f4f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,#ffffff), color-stop(100%,#f6f4f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 85%,#f6f4f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 85%,#f6f4f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 85%,#f6f4f3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 85%,#f6f4f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f4f3',GradientType=0 ); /* IE6-8 */
}

    div#topmenu > ul > li > div > ul {
        float: left;
        width: 320px;
        padding: 20px 0 10px 0;
        margin: 0;
        list-style-type: none;
        text-align: left;
    }

        div#topmenu > ul > li > div > ul li {
            padding: 10px 20px 0 20px;
            font-size: 16px;
        }

            div#topmenu > ul > li > div > ul li div.delimiter {
                border-bottom: 1px solid #c7bfb9;
                padding-bottom: 5px;
            }

            div#topmenu > ul > li > div > ul li:hover {
                background-color: #f1edea;
            }

            div#topmenu > ul > li > div > ul li p {
                font-size: 14px;
                padding-top: 5px;
                line-height: 16px;
                color: #80776e;
            }

            div#topmenu > ul > li > div > ul li a {
                color: #52443a;
            }

div#topmenu > ul > li > a {
    color: #fff;
    display: block;
    padding: 10px 15px 5px 15px;
    height: 22px;
    margin: 0;
    text-decoration: none;
    outline: none;
    font-size: 17px;
    font-weight: normal;
    text-shadow: 0 1px 1px #000;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

div#topmenu > ul > li.hover > a,
div#topmenu > ul > li.selected > a {
    position: relative;
    z-index: 1;
    background: url(../Images/Design/menu/topmenu.png) repeat-x 50% -2px;
    color: #fff;
    padding-bottom: 25px;
    margin-bottom: -12px;
}

div#topmenu > ul > li.selected a:hover,
div#topmenu > ul > li.selected a:focus {
    text-decoration: none;
}

/* Search */
div#searcharea_left {
    float: right;
    height: 41px;
    padding-top: 39px;
}

div#searchinput_left {
    float: left;
    height: 32px;
    background: url(../Images/Design/search/input.png) no-repeat 0 0;
    padding: 0 6px 0 7px;
}

div#searchinput_inner input.searchinput {
    width: 163px;
    height: 31px;
    border: 0;
    background: transparent;
    color: #7b614f;
    outline: none;
    font-size: 14px;
}

div#searcharea_inner .searchbutton {
    float: left;
}

/* Coworker */
img.listimage {
    display: block;
    height: 50px;
}

/* Personligsida */
span.title {
    margin: 0 0 16px 0;
    display: block;
}


#perspage {
    float: left;
}

#personalinfo {
    float: left;
    margin: 16px 0 0 0;
}

ul#letterindex {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

    ul#letterindex li {
        list-style: none;
        display: inline;
        padding: 0 3px 0 3px;
    }

/* Search result list */
div#search-result ol {
    list-style-position: inside;
    padding: 0;
}

div#contentarea-inner div#search-result ol li {
    margin-left: 0;
    list-style-position: inside;
    border-top: 1px solid #a2a2a2;
    margin: 0 0 15px 0;
    padding: 10px 0 0;
    position: relative;
}

div#search-result ol li p {
    margin: 0;
}

div#leftarea {
    float: left;
    width: 63.5%;
}

div#bottom p {
    margin-top: 0;
}

div#leftarea div.top {
    margin: 0 0 33px 0;
}

div#leftarea div.bottomleft {
    float: left;
    width: 50%;
}

div#leftarea div.bottomleft-inner {
    margin: 0px 10px 0px 0px;
}


div#leftarea div.bottomright {
    float: left;
    width: 50%;
}

div#leftarea div.bottomright-inner {
    margin: 0px 0px 0px 10px;
}

div#leftarea div.bottomright class.bottomright-inner {
    border-bottom: dotted;
    margin: 0px 0px 0px 10px;
}

div.newsarea {
    float: left;
    width: 36.5%;
    background-color: #ffffff;
}

.newsheadingbottomborder {
    clear: both;
}

div.newsarea-inner {
    margin: 0 25px 0 40px;
}

div.newsarea div.newsarea {
    margin: 0 0 0 10px;
}

div#leftarea-outer {
    padding-right: 216px;
}


/* 
    Newslist 
*/
div.newslist ul {
    list-style: none;
    padding-left: 0;
}

div.newslist h2 {
    font-size: 1.6667em;
    font-weight: normal;
    margin: 0 0 15px 0;
}

#morenews #morenews-inner {
    margin: 10px 0;
}

#morenews-inner .newsimagearea {
    float: right;
    margin: 10px 5px 10px 5px;
}

.extranewsarea ul {
    list-style: none;
    padding-left: 0;
}

.noticebordregion {
    float: left;
    width: 100%;
}

    .noticebordregion a {
        margin-bottom: 2px;
        margin-bottom: 0;
    }

.newsregion {
    clear: both;
}

    .newsregion H2 {
        /*    font-size: 1.6667em;
    font-weight: normal;
    margin: 0 0 15px 0;*/
    }

.moreinfo {
    margin-bottom: 5px;
}

div#rightarea .newsarea .newsarea-inner #mainnewslist {
    background-color: #57B2D9;
    color: #000000;
    padding: 10px 5px 15px 10px;
    overflow: auto;
}

div.newsarea p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.newsimage {
    float: left;
    padding: 0 5px 10px 0;
}

div.newsitem {
    margin: 10px 0px 15px;
    padding: 25px 0 0 0;
    border-top: 1px solid #a2a2a2;
    position: relative;
}

    div.newsitem h3 {
        line-height: 1.2em;
        padding: 0;
        font-size: 1.1667em;
        margin: 0 0 3px 0;
    }

.newsitem h3 a {
    color: #009492;
}

div.newsitem div.newstext {
    padding-bottom: 5px;
}

div.newsitem div.itemdate {
    color: #A2A2A2;
    position: absolute;
    top: 2px;
    left: 0;
}

.newsarea ul {
    margin: 0;
    padding: 0;
}

    .newsarea ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

div.newsitem .rightarrow {
    display: none;
}

div#contentwrapper {
    overflow: visible;
    margin-top: 68px;
}

div#startpagewrapper {
    overflow: auto;
    margin-top: 38px;
}

div#contentwrapperwide {
    overflow: visible;
    margin-top: 48px;
}

/* Classes */
.auraltext {
    color: #FFFFFF;
    font-size: 1px;
    left: -900px;
    overflow: hidden;
    position: absolute;
    width: 0pt;
}

.ingress {
    padding: 24px 0 18px;
}

.ingress.fullwidth 
{
    padding: 24px 0 18px;
    /*width: 620px;*/
}

.desc {
    padding: 12px 0;
}

    .desc p, .desc span {
        font-size: 22px;
        line-height: 30px;
        color: #988d83;
    }

.ingress p {
    font-size: 1.2em;
    line-height: 30px;
}

.ingressiframe {
    font-weight: bold;
}


table .header {
    text-align: left;
    font-size: 1.1667em;
    font-weight: bold;
    border-bottom: 8px solid #16aaa7;
}

table a {
    text-decoration: none;
}

table .header a {
    text-decoration: underline;
}

div#footer {
    clear: both;
    position: relative;
    z-index: 20;
    margin-top: -12px;
}

    div#footer h3 {
        color: #52443a;
        font-size: 16px;
        padding-bottom: 18px;
    }

    div#footer p, div#footer .column {
        font-size: 14px;
        padding: 0;
        line-height: 1.2;
        margin-bottom: 9px;
    }

    div#footer a {
        color: #52443a;
    }

    div#footer form {
        padding-top: 10px;
    }

        div#footer form input {
            color: #a2958a;
            font-weight: normal;
            outline: none;
            font-size: 14px;
            padding: 5px 7px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #b4aaa0;
            height: 20px;
            width: 230px;
        }

            div#footer form input.text {
                -webkit-box-shadow: 0 0 5px #ddd inset;
                -moz-box-shadow: 0 0 5px #ddd inset;
                box-shadow: 0 0 5px #ddd inset;
            }

            div#footer form input.button {
                background: transparent url('../Images/Design/buttons/submitbutton.png') 0 0 no-repeat;
                border: none;
                height: 32px;
                width: 32px;
            }

    div#footer div.top {
        height: 14px;
        background: url('../Images/Design/footer/footer_top.png') bottom left repeat-x;
    }

    div#footer div.background {
        background: #f1edea url('../Images/Design/footer/footer_bg.png') bottom left repeat-x;
    }

    div#footer div.content {
        width: 960px;
        margin: 0 auto;
    }

        div#footer div.content .columns {
            overflow-y: auto;
        }

        div#footer div.content .column {
            float: left;
            width: 280px;
            padding: 0 20px;
        }

    div#footer div.bottom {
        width: 320px;
        padding-top: 50px;
        height: 35px;
        background-image: url('../Images/Design/footer/footer_bottom.png');
        background-repeat: no-repeat;
        background-position: 0 bottom;
        position: relative;
        margin-left: -100px;
        padding-left: 100px;
    }

        div#footer div.bottom a, div#footer div.bottom {
            color: #fff;
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
        }

            div#footer div.bottom a:hover {
                text-decoration: underline;
            }
            div#footer a {
                text-decoration: underline;
            }

#svraboutpage {
    display: none;
}

#mainphoto {
    position: relative;
    background-color: Black;
    width: 200px;
    height: 200px;
}

#insidephoto {
    position: absolute;
    background-color: Red;
    width: 50px;
    height: 50px;
}




#mainimagearea {
    margin: 0 0 8px 0;
}

div#mainimagearea div#mainimagearea-inner {
    width: 100%;
}

.mainbodytextclass {
    overflow: hidden;
    color: #3a2c1c;
}

    .mainbodytextclass a {
        text-decoration: none;
        color: #3a2c1c;
        outline: none;
    }

        .mainbodytextclass a:active {
            font-weight: normal;
        }

    .mainbodytextclass .rightarrow {
        display: none;
    }

div#pagefooter {
    margin-top: 36px;
}

a.rightarrow {
    background: url(../Images/Design/buttons/rightarrow.png) no-repeat 0 0;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-decoration: none;
}

    a.rightarrow:hover,
    a.rightarrow:focus {
        background-position: -29px 0;
        text-decoration: none;
        font-weight: normal;
    }

.documentrow {
    clear: both;
}

    .documentrow .fileicon {
        float: left;
        margin-right: 5px;
    }

    .documentrow .displaylabel {
        float: left;
        width: 400px;
        margin-right: 10px;
        text-decoration: underline;
        overflow: hidden;
    }

.displaylabel h2 {
    clear: left;
    padding-top: 20px;
    margin-right: 10px;
}

.documentrow .filelength {
    float: left;
    width: 80px;
    margin-right: 10px;
    display: none;
}

.documntproperties {
    margin-left: 28px;
}

div#mainbody select {
    margin-left: 10px;
}

/* Puffar */
h1.mainpuff a {
    color: #009492;
    font-weight: normal;
}

.top-hover {
    cursor: pointer;
}

    .top-hover h1.mainpuff a,
    .top-hover .mainbodytextclass {
        text-decoration: underline;
    }

#leftarea .pufflayout .puffimageclass {
    display: block;
    margin: 0 0 13px 0;
}

.pufflayout ul {
    margin: 0;
}

.pufflayout .rightarrow {
    display: none;
}

.pufflayout .pufftextclass a {
    color: #3a2c1c;
    outline: none;
}

.pufflayout-hover {
    cursor: pointer;
}

    .pufflayout-hover h2 a,
    .pufflayout-hover .pufftextclass,
    .pufflayout-hover .pufftextclass a {
        text-decoration: underline !important;
    }

.pufflayout .pufftextclass a:active {
    font-weight: normal;
}

/* FullWidth */
div#leftcol.fullwidth > div {
    margin-left: 0;
}

/* WidePage */
div#leftcol div#contentarea.wide {
    margin-right: 0;
}

.newsarea .newsheading {
    text-align: center;
}

#startpagewrapper .noticeitem {
    margin-bottom: 20px;
}

div.noticeitem h3 a {
    color: #009492;
}

/* Medarbetarlista */
td a.Asc {
    background-image: url(../Images/Design/uparrow.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

td a.Desc {
    background-image: url(../Images/Design/downarrow.gif);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

a.emaillink {
    display: block;
    width: 20px;
    height: 14px;
    margin: 0 auto;
    background: url(../Images/Design/mail.gif) no-repeat 0 0;
    font-weight: normal;
    text-decoration: none;
    outline: none;
}

    a.emaillink:hover,
    a.emaillink:focus {
        background-position: 0 -14px;
    }

#mailaddressshow {
    display: none;
}
/* Startsida plattan  */
.insidePhoto {
    position: absolute;
    top: 130px;
    right: 0;
    width: 226px;
    height: 87px;
}

.mainPhoto {
    position: relative;
    width: 100%;
    height: 250px;
}

.insidePhotoHeader {
    color: White;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.1em;
    margin-top: 8px;
    margin-left: 10px;
    display: block;
}

.insidePhotoHeader2 {
    margin-top: 3px;
    display: block;
    margin-left: 10px;
    color: White;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.1em;
}


/* Personlig sida */

.area0 {
    height: 50px;
    float: left;
    width: 400px;
}

.area1 {
    height: 200px;
    float: left;
    width: 200px;
}

.area2 {
    height: 200px;
    float: left;
    width: 200px;
}

.area3 {
    float: left;
    width: 200px;
}

.area4 {
    height: 200px;
    float: left;
    width: 200px;
}

.area5 {
    height: 400px;
    float: left;
    width: 200px;
}


#photo img {
    display: block;
}

.wrapper {
    overflow: hidden;
}

form .wrapper label {
    cursor: default;
}

.wrapper div,
.wrapper label {
    display: inline;
}

.date {
    color: #52443a;
}

.bottomborder {
    border-bottom: solid 1px #a2a2a2;
    margin-bottom: 5px;
}

span.userinfo {
    display: none;
}

div#search-result a.bmp {
    background-image: url(../Images/extensions/bmp.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#search-result a.doc, div#search-result a.docx {
    background-image: url(../Images/extensions/doc.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#search-result a.htm, div#search-result a.html {
    background-image: url(../Images/extensions/htm.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#search-result a.xls, div#search-result a.xlsx {
    background-image: url(../Images/extensions/xls.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#search-result a.txt {
    background-image: url(../Images/extensions/txt.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#search-result a.pdf {
    background-image: url(../Images/extensions/pdf.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#search-result a.ppt, div#search-result a.pptx, div#search-result a.pot, div#search-result a.potx {
    background-image: url(../Images/extensions/ppt.gif);
    background-repeat: no-repeat;
    padding-left: 25px;
}

div#subscriberegisterinput {
    float: left;
    width: 70%;
}

    div#subscriberegisterinput div#emailsection {
        float: left;
        width: 97%;
        margin-bottom: 5px;
    }

        div#subscriberegisterinput div#emailsection .tbxEmail {
            float: left;
            width: 100%;
        }

        div#subscriberegisterinput div#emailsection .emaillabel {
            float: left;
        }

    div#subscriberegisterinput div#subscribebuttons {
        float: right;
    }

div#subscribecurrentusermail {
    margin-bottom: 5px;
}

div#subscriberinfo #currentusermail {
    margin-bottom: 5px;
}

div#subscriberinfo #updateinterval {
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 500px;
}

#updateinterval {
    float: left;
}

#subscriberinfo fieldset {
    float: left;
    width: 480px;
}

.subscriptionListArea table {
    float: left;
    width: 75%;
}

    .subscriptionListArea table tbody tr {
        float: left;
        width: 210px;
        margin-right: 10px;
    }

.toplabel {
    display: block;
}


div#subscriberinfo .subscriptionListArea {
    margin-bottom: 10px;
    float: left;
}

#id_matrix td {
    vertical-align: top;
}

#id_matrix label {
    font-size: 1.1em;
    margin: 10px 0 0 0;
    font-weight: bold;
    display: block;
}

#id_matrix fieldset label {
    font-weight: normal;
    display: inline;
}

#id_matrix legend {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 0 0;
    display: block;
}

#id_matrix input.button {
    margin: 10px 0 0 0;
}

.username {
    color: #a2a2a2;
}

.editable {
    background-image: url(../Images/Design/buttons/penn2.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
}

.rightbutton {
    float: right;
    margin-right: 10px;
}

.right {
    float: right;
}

div#addnotice label {
    display: block;
}

div#addnotice div {
    margin-bottom: 10px;
}


/* Right column puffs */
#puffarea {
    padding-bottom: 84px;
}

#puffarea-inner {
    overflow-y: auto;
}

    #puffarea-inner > div {
        overflow-y: auto;
        width: 50%;
        float: left;
    }

.puffarea-item {
    padding: 20px 30px 0;
}

    .puffarea-item.contact h2 {
        background-image: url(../Images/Design/puffs/contact.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding: 10px 0 10px 35px;
        line-height: 25px;
    }

    .puffarea-item.alert h2 {
        background-image: url(../Images/Design/puffs/alert.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding: 10px 0 10px 35px;
        line-height: 25px;
    }

.puffarea-item-hover {
    cursor: pointer;
}

.puffarea-item img,
.pufflayout img {
    display: block;
}

.puffarea-item h2 {
    padding-top: 0;
    padding-bottom: 12px;
    font-size: 18px;
}

.puffarea-item p {
    font-size: 16px;
}

.puffarea-item h2 a,
#rightcol .pufflayout h2 a,
#puffarea .pufflayout h2 a {
    color: white;
    text-decoration: none;
}

.puffarea-item p, .pufflayout p {
    padding: 0;
}

.puffarea-item .left ul,
#rightcol .pufflayout ul,
#puffarea .pufflayout ul {
    margin-bottom: 0;
}

.puffarea-item .left li a,
#rightcol .pufflayout li a,
#puffarea .pufflayout li a {
    text-decoration: none;
}

.puffarea-item .rightarrow,
#rightcol .pufflayout .rightarrow,
#puffarea .pufflayout .rightarrow {
    float: right;
    margin: 5px;
}

#rightcol .pufflayout .rightarrow,
#puffarea .pufflayout .rightarrow {
    display: block;
}

div#puffarea p {
    margin-top: 0;
    margin-bottom: 0;
}

.subscription .rightbutton {
    width: auto !important;
    height: auto;
    margin: 5px -5px -5px 0;
    padding: 0;
    background: none;
}

/* Sitemap */
#sitemap {
    margin: 15px 0 0 0;
}

    #sitemap ul {
        list-style: none;
        padding: 0;
        margin: 0 0 15px 0;
        clear: both;
        overflow: hidden;
    }

    #sitemap li {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #sitemap a {
        float: left;
        font-size: 1.25em;
        font-weight: bold;
        margin: 0 0 5px 0;
    }

    #sitemap li li a {
        font-size: 1em;
        font-weight: normal;
    }

    #sitemap .level_1 li {
        background: url(../Images/design/menu/arrowright.gif) no-repeat 0 0;
        padding-left: 20px;
    }

    #sitemap .level_2 li {
        background: url(../Images/design/menu/arrowright.gif) no-repeat 20px 0;
        padding-left: 40px;
    }

    #sitemap .level_3 li {
        background: url(../Images/design/menu/arrowright.gif) no-repeat 40px 0;
        padding-left: 60px;
    }

input.imagebutton {
    vertical-align: middle;
}

#newscontent {
    padding-bottom: 10px;
}

    #newscontent div ul,
    div.noticearea ul {
        padding: 0;
    }

        #newscontent div ul li, div.noticearea ul li {
            list-style: none;
            padding-left: 2em;
            background-image: url(../Images/Design/menu/arrowright.gif);
            background-position: left 3px;
            background-repeat: no-repeat;
            line-height: 1.2;
            margin-bottom: 9px;
        }

    #newscontent div ol li, div#contentarea-inner ol li {
        list-style-type: decimal;
    }


.ingress div ul {
    padding: 0;
}

    .ingress div ul li {
        list-style: none;
        padding-left: 2em;
        background-image: url(../Images/Design/menu/arrowright.gif);
        background-position: left top;
        background-repeat: no-repeat;
    }

.ingress div ol li {
    list-style-type: decimal;
}

.bodytext div ul {
    padding: 0;
}

    .bodytext div ul li {
        list-style: none;
        padding-left: 2em;
        background-image: url(../Images/Design/menu/arrowright.gif);
        background-position: left top;
        background-repeat: no-repeat;
    }

.bodytext ul,
.filelisting-contentarea ul {
    padding-left: 0;
}

    .bodytext ul li,
    .filelisting-contentarea ul li {
        list-style: none;
        line-height: 28px;
        padding-left: 1em;
        background-image: url(../Images/design/menu/green-dot.png);
        background-position: left 7px;
        background-repeat: no-repeat;
        line-height: 1.2;
        margin-bottom: 9px;
    }


.bodytext div ol li {
    margin-left: 2em;
    list-style-type: decimal;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.watermarkon {
    color: #CCCCCC !important;
}

#resultlist table tbody tr th, table tbody tr td {
    border-bottom: solid 0px #ffffff;
}

#resultlist td {
    padding: 3px 10px;
}

#resultlist .header td:first-child {
    padding-left: 0;
}

tr.zebrastripe {
    background-color: #f0f0f0;
}

.showgroups {
    margin: 16px 0 24px 0;
}

.invisible {
    display: none;
}

.trafficred {
    float: left;
    background: url(../Images/Design/TrafficLight/traffic_2_red.png) no-repeat 0 0;
    padding-left: 55px;
    height: 50px;
}

.trafficorange {
    float: left;
    background: url(../Images/Design/TrafficLight/traffic_2_yellow.png) no-repeat 0 0;
    padding-left: 55px;
    height: 50px;
}

.trafficgreen {
    float: left;
    background: url(../Images/Design/TrafficLight/traffic_2_green.png) no-repeat 0 0;
    padding-left: 55px;
    height: 50px;
}

.documentheading {
    width: 95%;
}

.documentinfo {
    background: red;
}

/* Dokumentlista */
.filelisting-contentarea {
    margin-bottom: 20px;
}

#filelisting-list ul {
    background-color: Maroon;
    list-style: none;
    display: inline;
}

.filelisting-list ul {
    padding: 0;
    list-style: none;
}

.filelisting-list li {
    overflow: hidden;
}

/* Hover */
.nasta-hover {
    background: url(../Images/Design/buttons/Nasta_hover.png) no-repeat 0 0 !important;
}

.rightarrow_green-hover,
.andra_installningar-hover,
.andra-hover,
.avbryt-hover,
.avsluta-hover,
.avsluta_prenumeration-hover,
.publicera-hover,
.skicka-hover,
.search-hover,
.sok-hover,
.spara_info-hover,
.ta_bort-hover,
.visa-hover {
    background: url(../Images/Design/buttons/buttons_hover.png) no-repeat 0 0 !important;
}

.andra_installningar-hover {
}

.andra-hover {
    background-position: 0 -26px !important;
}

.avbryt-hover {
    background-position: 0 -52px !important;
}

.avsluta-hover {
    background-position: 0 -78px !important;
}

.avsluta_prenumeration-hover {
    background-position: 0 -104px !important;
}

.publicera-hover {
    background-position: 0 -130px !important;
}

.skicka-hover {
    background-position: 0 -156px !important;
}

.search-hover,
.sok-hover {
    background-position: 0 -182px !important;
}

.spara_info-hover {
    background-position: 0 -208px !important;
}

.ta_bort-hover {
    background-position: 0 -234px !important;
}

.visa-hover {
    background-position: 0 -260px !important;
}

.rightarrow_green-hover {
    background-position: 0 -286px !important;
}


/* Poll */
.pollarea-item {
    background: #f1e9e3 url(../Images/Design/Background/puffarea_header.gif) -216px 100% no-repeat;
    margin: 0 0 25px 0;
    padding: 15px;
    color: #39291a;
    overflow: hidden;
    clear: both;
    line-height: 1.1em;
}

    .pollarea-item h2 {
        width: 186px;
        margin: -15px 0 15px -15px;
        padding: 7px 15px 5px 15px;
        background: #39291a url(../Images/Design/Background/puffarea_header.gif) top left no-repeat;
        font-size: 1.4167em;
        font-weight: normal;
        color: white;
    }

        .pollarea-item h2 a {
            color: white;
            text-decoration: none;
            font-weight: normal;
        }

    .pollarea-item h3 {
        margin-bottom: 10px;
    }

    .pollarea-item .sendbutton {
        float: right;
    }

.poll-bar-container {
    width: 100px;
    height: 10px;
    padding: 0;
    margin: 0;
    float: left;
}

.poll-bar {
    height: 13px;
    width: 0%;
    float: left;
    margin-right: 4px;
}

div.poll-window h2 {
    color: #FFFFFF;
    margin-top: 0px;
}

div.poll-alternative-row {
    margin-top: 6px;
    overflow: hidden;
}

div.poll-alternative-text {
    padding-top: 4px;
    clear: both;
}

.pollLink {
    padding-top: 10px;
    clear: both;
}

label.listlabel {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0 0 0;
    display: block;
}

.error,
.xformvalidator {
    color: #a90000;
}


/*** clear fix ***/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


/************* VideoSearch************/

.video label {
    display: inline-block;
    width: 250px;
}
.video input {
    padding: 2px;
    width: 196px;
    margin-top: 5px;
}
.video select {
    padding: 2px 0;
    width: 202px;
}
.video .search-item {
    position: relative;
}
.video a.info {
    display: inline-block;
    text-indent: -9999px;
    background: url(images/info.png) left center no-repeat;
    width: 20px;
    height: 30px;
}
  .Videosystem span.help-text, .video span {
        background: #05aea7;
        display: none;
        padding: 5px 25px 5px 10px;
        color: #fff;
        border-radius: 4px;
        position: absolute;
        width: 415px;
        top: 0;
        right: 0;
    }
        .video span:before {
            width: 9px;
            height: 16px;
            background: url(images/blue-arrow-left.png);
            content: " ";
            position: absolute;
            left: -9px;
            top: 10px;
        }
        .video span a {
            width: 20px;
            height: 20px;
            background: url(images/cancel.png);
            position: absolute;
            top: 5px;
            right: 5px;
        }

.advanced {
    display: none;
}

table.form {
    padding-top: 20px;
}

.ResultField {
    width: 100%;
    padding-top: 10px;
}

    .ResultField .export {
        float: right;
    }

    .ResultField h2 {
        float: left;
        padding-left: 5px;
    }

        .ResultField h2 .black {
            color: #000;
            font-weight: normal;
            font-size: 14px;
        }

    .ResultField table {
        list-style: none;
        padding: 10px 0 0 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 14px;
        border-collapse: collapse;
    }

        .ResultField table thead {
            font-size: 16px;
            background: #6f5e4d;
        }

            .ResultField table thead a {
                color: #fff;
            }

            .ResultField table thead tr, .ResultField table thead th {
                background: transparent;
            }

        .ResultField table tr.even {
            background-color: #F1E9E3;
        }

        .ResultField table tbody tr:hover {
            background-color: #6f5e4d;
        }

            .ResultField table tbody tr:hover a {
                color: #fff;
            }

        .ResultField table tr a {
            display: block;
            padding: 8px;
        }

    .ResultField .pagination {
        padding-top: 20px;
    }

    .ResultField table th {
        padding: 8px 0 8px 10px;
        background-color: #F1E9E3;
    }

        .ResultField table th a {
            padding-right: 15px;
            display: inline;
        }

            .ResultField table th a.Asc {
                background-image: url(../Images/Design/arrow_down.gif);
                background-repeat: no-repeat;
                background-position: right;
            }

            .ResultField table th a.Desc {
                background-image: url(../Images/Design/arrow_up.gif);
                background-repeat: no-repeat;
                background-position: right;
            }


    .ResultField .PagingContainer a {
        font-size: 1.2em;
        padding: 0 3px 0 0;
    }

    .ResultField .SelectedPagingItem {
        color: #333333;
    }



/****************** Videodetail ****************/

.Videosystem {
    padding: 10px;
}

    .Videosystem form {
        margin-top: 15px;
    }

    .Videosystem div {
        padding: 3px 0 3px 10px;
        font-size: 14px;
        position: relative;
    }

        .Videosystem div.odd {
            background-color: #F1E9E3;
        }

        .Videosystem div span {
            display: block;
            float: left;
        }

        .Videosystem div .heading {
            width: 240px;
        }
.Videosystem a.info {
    display: inline-block;
    text-indent: -9999px;
    background: url(images/info.png) left center no-repeat;
    width: 20px;
    height: 30px;
    float: right;
}
.Videosystem span.help-text {
    right: 30px;
    z-index: 1000;
}
    .Videosystem span.help-text:after {
        width: 9px;
        height: 16px;
        background: url(images/blue-arrow-right.png);
        content: " ";
        position: absolute;
        right: -9px;
        top: 10px;
    }

    
      

/* Startpage grid */
#startpagewrapper .row {
    width: 960px;
    overflow-y: auto;
}

#startpagewrapper .box > div {
    margin: 10px;
    overflow: hidden;
}

#startpagewrapper .col-320.gradient, #startpagewrapper .gradient {
    background: #fff url('../Images/Design/startpage/box_noframe_bg.png') top left repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 303px;
    margin-bottom: 0;
}

    #startpagewrapper .gradient hr {
        border: none;
        border-top: 1px solid #c4bcb4;
        height: 1px;
        background-color: #c4bcb4;
        margin: 25px 0;
    }

#startpagewrapper .box > div.frame {
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff url('../Images/Design/startpage/box_bg.png') bottom left repeat-x;
    border: 1px solid #e3dfdc;
    position: relative;
}

#startpagewrapper .row > div {
    float: left;
}

#startpagewrapper .col-320 {
    width: 298px;
    height: 225px;
}

#startpagewrapper .col-640 {
    width: 618px;
    min-height: 280px;
}

#startpagewrapper .col-960 {
    width: 938px;
    margin: 10px;
}

#startpagewrapper .row div h2, #startpagewrapper .row div h3 {
    padding: 0;
    font-size: 22px;
    line-height: 32px;
    color: #6f5e4d;
}

#startpagewrapper .row div h3 {
    font-size: 16px;
    font-weight: bold;
}

#startpagewrapper .row div p {
    font-size: 16px;
}

    #startpagewrapper .row div p.desc {
        padding-top: 0;
    }

#startpagewrapper .row .padding {
    padding: 30px;
}

/* New customer */
#startpagewrapper .new_customer > div {
    padding: 0;
    width: 620px;
    height: 220px;
    position: absolute;
}

    #startpagewrapper .new_customer > div h2 {
        font-weight: normal;
        font-size: 28px;
        color: #6f5e4d;
    }
#startpagewrapper .new_customer >div  h2.orange {
    color: #f08122;
}
#startpagewrapper .new_customer >div  h2.blue {
    color: #018785;
    
}
#startpagewrapper .new_customer >div  h2.brown {
    color: #6F5E4D;
    
}
#startpagewrapper .new_customer > img {
    position: absolute;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 280px;
    width: 618px;
}

#startpagewrapper .new_customer > div .left {
    float: left;
    width: 250px;
    padding: 30px;
}

#startpagewrapper .new_customer > div .right {
    float: right;
    width: 250px;
    padding: 30px;
}
#startpagewrapper .new_customer > div .leftPuffArea {
    float: left;
    width: 91%;
    padding: 30px;
}

#startpagewrapper .new_customer > div .rightPuffImageArea {
    float: right;
    width: 310px;
}

    #startpagewrapper .new_customer > div .right div.big, #startpagewrapper .new_customer > div .right div.small {
        color: #fff;
        font-style: italic;
        line-height: 30px;
    }

    #startpagewrapper .new_customer > div .right div.big {
        font-size: 22px;
    }

    #startpagewrapper .new_customer > div .right div.small {
        padding-top: 10px;
        font-size: 16px;
    }

    #startpagewrapper .new_customer > div .right div.big p {
        font-size: 22px;
    }

    #startpagewrapper .new_customer > div .right div.small p {
        font-size: 16px;
    }

    #startpagewrapper .new_customer > div .right div.big p, #startpagewrapper .new_customer > div .right div.small p {
        padding: 0;
    }

#startpagewrapper .frame > img.background {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Siths */
#startpagewrapper .siths {
    position: relative;
}

    #startpagewrapper .siths > img {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    #startpagewrapper .siths h2 img {
        margin-bottom: -5px;
    }
/* NPÖ */
#startpagewrapper .npo {
    position: relative;
}

    #startpagewrapper .npo > img {
        display: block;
        position: absolute;
        bottom: 0;
    }

    #startpagewrapper .npo > img {
        display: block;
        margin-bottom: -5px;
    }
/* Maintenance status */
#startpagewrapper .maintenance {
    height: 282px;
}

#startpagewrapper .row .maintenance div h3 {
    color: #018785;
    padding-top: 55px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
}

#startpagewrapper .maintenance h3.status {
    background: url(../Images/Design/driftstatus.png) no-repeat center top;
}

#startpagewrapper .maintenance h3.service {
    background: url(../Images/Design/servicefonster.png) no-repeat center top;
}
/* News */
#startpagewrapper .news {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 30px;
}

    #startpagewrapper .news .col-320 {
        margin-left: 20px;
    }

    #startpagewrapper .news .noticeitem p {
        padding: 0 0 8px 0;
    }

    #startpagewrapper .news .padding h2 {
        padding-bottom: 18px;
    }

    #startpagewrapper .news .padding {
        padding-bottom: 0;
    }
/* carousel */


#cboxContent #cboxClose {
    position: absolute;
    top: 4px;
    right: 4px;
    background: url(../Images/Design/close.png) no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

#cboxOverlay {
    background: url(../Images/Design/overlay.png) repeat 0 0;
}
p.textplatta
{
    width: 94.5%;
    border: 1px solid gray;
    padding: 15px;
    background-color:#e1efbb;
}
