$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Merriweather', serif;

// Overrides
$grid-gutter-width: 40px; 
$border-radius-base:  4px;
$padding-base-vertical: 14px;

$brand-primary: #52D681;
$brand-secondary: #118